<!-- CONTENT -->
<div class="s-slide s-slide-about" >
  <div class="socket">
    <div class="cell">
      <div class="b-slide-text">
      </div>
    </div>
  </div>
</div>

<div class="s-item s-main">
  <div class="main">
  <div class="q"></div>
    <div class="b-quote b-quote-min right " id= 'main-quote'>
      <p>
          Привет! Я очень рада, что вы зашли на мой сайт.
          Я – Света Гончарова, автор проекта «Флаймама».
          А также писательница, бизнес-тренер и коуч.
          Я горжусь тем, что мой проект <b>помогает десяткам
          тысяч мам</b> по всему миру <b>стать организованее и счастливее.</b>
      </p>
    </div>
    <figure> <%= image_tag('about-1.jpg', class: 'image') %> </figure>
    <p class= 'top-text'>
      Я - мама двух сыновей, счастливая жена и хозяйка. Моя семья – мое главное сокровище и основная причина создания проекта «Флаймама». Когда в 2009 году родился мой второй сын, волна быта и семейных проблем сбила меня с ног. Я ничего не успевала с двумя детьми на руках. Мой дом тонул в беспорядке, отношения с мужем ухудшались с каждым днем, а я сама была уставшей мамой, которая могла только плакать в подушку.
    </p>
    <div class = 'img-no-hair-1'></div>
    <div class = 'img-no-hair-2'></div>
   <p>
      В тот тяжелый период мне казалось, что корень всех моих проблем в том, что мне не помогают, меня не понимают и не поддерживают. Мне было так плохо и морально и физически, что однажды я с горя срезала все волосы! На моей голове остался двухсантиметровый ежик. Таким был мой крик о помощи. Я надеялась, что вот теперь моя семья и друзья поймут, что я нуждаюсь в их помощи и поддержке! Но, увы, такой реакции не последовало. Многие просто подумали, что я неудачно сменила имидж. И теперь, кроме того, что была уставшей, я стала еще и страшно некрасивой мамой...
      Не поверите, но именно в этот момент и произошел переворот в моей жизни! Видя в зеркале бледную унылую женщину с коротким серым ежиком на голове, я четко поняла: НИКТО НЕ ПРИДЕТ И НЕ СПАСЕТ МЕНЯ. Никаких принцев и добрых фей не будет.
    </p>
  </div>
</div>
<div class= 'image-4'></div>
<p class= 'about-text-4'>
  Я долго до этого просила помощи у Бога. А в тот момент поняла, что в этой ситуации у Него нет других рук, кроме моих собственных. <b>Я сама должна встать, вытереть слезы и хоть что-то для себя изменить к лучшему.</b>

  Вот так начался мой путь к порядку в доме и в голове. В 2010 году я начала изучать и, главное, практиковать семейный тайм-менеджмент. Я хотела понять, как помочь себе самой больше успевать с детьми и меньше уставать. Моими проводниками к порядку стали Марла Силли и Девид Ален, Яна Франк и Глеб Архангельский, Стивен Кови и Джон Максвелл. Я внимательно читала книги этих замечательный людей и кропотливо, шаг за шагом пробовала на себе их рекомендации. За год такой работы над собой я сама и моя семья изменились до неузнаваемости! В лучшую сторону, конечно :). Я научилась заботиться о себе, домашние дела стала выполнять на лету, у детей появился четкий распорядок дня, а муж наконец-то вспомнил, что жена умеет не только "пилить".
  </p>


<div class="s-item s-quote">
  <div class="socket photo-slide">
  <div class= 'about-5-image'> </div>
    <div class="column-t">
      <div class="q"></div>
      <div class="title-d"><div>Если я хочу позитивных перемен в жизни, мне нужно САМОЙ совершить их для себя.</div> </div>
      <div class="b-person b-person-m">
        <div class="avatar"><%= image_tag('avatar-2.jpg') %></div>
        <div class="cell">
            <div class="name">Светлана Гончарова</div>
        </div>
      </div>
  </div>
  </div>
</div>

<p class='about-text-6'>

За год изучения и практического применения тайм-менеджмента у меня сложилась своя собственная система поддержания порядка в доме, семье и голове. И я решила рассказать о ней другим мамам. Так в конце 2010 года появился сайт www.flymama.info, на котором вы сейчас находитесь :).

С тех пор я написала три книги по тайм-менеджменту для мам, создала более 10 онлайн-тренингов, провела около 1000 живых семинаров для мам, стала экспертом на радио и телевидении. Через мое обучение прошло более 10 000 женщин, а мою рассылку регулярно читают 50 000 подписчиц. Я очень рада, что могу помогать мамам стать организованными и счастливыми! Ведь если хорошо маме – хорошо и всей семье!</p>
<div>
  <div class= 'image-6'></div>
   <div class= 'image-7'></div> </div>
</div>

<div class= 'image-8'>
  <div class="image-8-text">
  <p>
    Я искренне верю в то, что мама – сердце семьи. Не голова и не шея. А именно сердце, от бесперебойной работы которого зависит благополучие всей семьи. Мама заботится о многочисленных материальных нуждах детей и мужа. А еще именно она сплетает отношения между всеми членами семьи в одно полотно любви. Если мама станет организованной, здоровой и счастливой – выиграет вся семья. А если изменить к лучшему семью – изменится общество в целом!

    Поэтому для меня огромная привилегия – служить именно мамам! Я счастлива и благодарна Богу, что Он провел меня через трудности и личный кризис. Исправив однажды свою жизнь, теперь я могу помогать другим мамам.
    Мое самое большое желание – помочь вам, мои дорогие читательницы, стать сердцем вашей семьи. Я хочу помочь вам пройти ваш путь к порядку. Вдохновить вас жить организованно.
  </p>
  </div>
</div>

<div class = 'text-carousel'>
<p>
Я искренне убеждена, что где бы вы сейчас ни были в самоорганизации, вы МОЖЕТЕ успевать больше. Вы можете успевать главное. Можете успевать любить! Буду очень рада поддержать вас в этом. Верю, если получилось у меня (и тысяч моих мам-учениц), получится и у вас.

Самым первым шагом к порядку для вас может стать Планнер Королевы порядка. Этот блокнот – результат моей пятилетней работы с мамами в проекте «Флаймама». Он станет вашим верным помощником в планировании. Подпишитесь и получите листы для распечатки, а также пошаговый видеогид о том, как взять успешный старт в планировании жизни вашей семьи.</p>

</div>


<div class="b-carousel b-carousel-f slides">
  <div class="jcarousel">
      <ul>
        <li>
          <div class= 'image-9'></div>
        </li>
        <li>
          <div class= 'image-10'></div>
        </li>
        <li>
          <div class= 'image-11'></div>
        </li>
        <li>
            <div class= 'image-12'></div>
        </li>
      </ul>
  </div>
  <div class="jcarousel-items"></div>
  <div class="jcarousel-panel"></div>
  <div class="jcarousel-pagination"></div>
  <a href="#" class="jcarousel-control-prev"></a>
  <a href="#" class="jcarousel-control-next"></a>
</div>
