<div class="container" id="feedbacks-container">
  <div class="row" >
    <div class="col-lg-12 feedback-outer ">
      <div class="infinite-table">
        <%= render partial: 'feedbacks', object: @feedbacks%>
        <div class= 'add-more'></div>
        <p class="pagination" hidden>
          <%= link_to_next_page @feedbacks, "", remote: true, id: 'load-more-link' %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
 $('.add-feedback').off('click').on('click', function(){
    id = $(this).attr('id');
    el = $(this).parent().nextAll('.row-feedback:first');
    return_el = $(this).parent()
    $.ajax({
       type: 'GET',
       url: 'get_feedback?id=' + id,
       dataType: 'json',
       success: function(data){
        $('#feedback-content').remove();
        $('<%= escape_javascript render partial: 'expanded_feedback' %>').insertAfter(el);
         $('#close-feedback').click(function(){
          $('#feedback-content').remove();
           $('html, body').animate({
              scrollTop: $(return_el).offset().top
            }, 800);
        })
        $('html, body').animate({
         scrollTop: $("#feedback-content").offset().top
        }, 800);
        var picture = data.commenter_picture.url
        var long_desc = data.long_desc
        var short_desc = data.short_desc
        var name = data.commenter_name
        $('.modal-image img').replaceWith('<img src='+ picture + '></img>')
        $('.modal-name h3').html('<h3>' + data.commenter_name + '</h3>');
        $('.modal-short-desc h5').html('<h5>' + data.short_desc+ '<h5>');
        $('.modal-long-desc p').html('<p>' + data.long_desc + '<p>');
       }
    })
  });
</script>
