<div class="b-comment">
    <div class="avatar"><img src="images/avatar-4.jpg" alt=""></div>
    <div class="comment">
        <div class="name-c">Елена чижикова</div>
        <p>
           <%= comment.content %>
        </p>
        <div class="date"><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %> </div>
    </div>
</div>


