<div class="infinite-table">
    <div class="about-fm" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  
      <div class="about-fm-img">
         <%= image_tag('about-1.jpg', class: 'image') %>
      </div>
      <div class="about-fm-text">
        <em>Привет!</em>
        <p>
        Я Света.
        От всего сердца хочу помочь вам стать организованной и счастливой мамой.
        </p>
        <%= link_to 'Узнать больше', about_path, class: "btn btn-2" %>
      </div>
    </div>
  <%= render partial: 'posts', object: @posts%>
  <p class="pagination" hidden>
    <%= link_to_next_page @posts, "", params: params, remote: true %>
  </p>
</div>
<script>
$(window).scroll(function() {
  if ($(this).scrollTop() > 1){
      $('.s-header-btm ').addClass("sticky");
    }
    else{
      $('.s-header-btm').removeClass("sticky");
    }
});
</script>
