.article-text{
	position: relative;
	margin-left: 30%;
	max-width: 800px;
	
	h1.title{
	    display: inline;
	    font-size: 45px;
	    line-height: 1.24;
	    // border-bottom: 16px solid #eee;
	    white-space: normal;
	    box-shadow: inset 0 -16px 0 0 #eee;
	}

	a{
	    box-shadow: inset 0 -7px 0 0 rgba(211, 33, 93, 0.16);
	    text-decoration: none;
	    color: #000;

	    &:hover{
	    	text-decoration: none;
	    	box-shadow: inset 0 -7px 0 0 rgba(211, 33, 93, 0.84);
	    	color: #000;

	    }
	}

	hr{
		display: block;	
	}

	h2{
		    font-size: 32px;
		    line-height: 1.45;
		    padding: 1em 0;
		    color: #000;
		    opacity: 1;
	}

	h3{
			font-size: 24px;
		    line-height: 1.25;
		    padding: 1em 0;
		    color: #000;
		    opacity: 1;
	}

	h4{
		font-size: 20px;
		font-weight: bold;
	    padding: 1em 0;
	    color: #000;
	    font-weight: 600;
	    opacity: 1;
	}
	.post-single-content{
		font-size: 20px;
	    line-height: 1.76;
	    color: #000;	
	    background-color: #fff;
	    float: none;
	}

	p, .ttl{
	    font-size: 20px;
	    line-height: 1.76;
	    color: #000;
	    letter-spacing: 0.3px;
	    margin-bottom: 1.8em;
	    font-weight: 100;
	}

	ul,ol {
		margin: 1em 0 2.5em 3em;

		li{
		    font-size: 20px;
		    line-height: 1.76;
		    color: #000;
		    letter-spacing: 0.3px;
		    margin-bottom: 1.5em;
		    font-weight: 100;
		}
	}

	.post-image{
		float: none;
		display: block;
		width: auto;
		margin: 2em 0;
	}

	.article-hr{
		width: auto;
	    background: transparent;
	    border-bottom: 1px solid #eee;
	}

	.b-slide-text{
		position: relative;
		margin-left: 0;

		.text{
			display: inline-block;
		    margin: 0;
		    height: 27px;
		    font-weight: bold;
		    letter-spacing: 0.1em;
		    line-height: 24px;
		    padding: 4px 9px;
		    text-transform: uppercase;
		    background-color: #ececee;
		    margin-right: 20px;
		    top: 13px;
		    margin-left: 0;
		    position: relative;
		}

		.stats{
			display: inline-block;
			vertical-align: baseline;
		}
	}

	.social-panel{
		z-index: 101;
	}

	blockquote{
		    margin: 0 0 20px;
		    font-size: 32px;
		    background: #f5f5f5;
		    padding: 1.2em 1.5em;
		    font-family: "PTSerif-Reg";
		    border: 0px;

		    p{
		    	font-size: 28px;
		    	color: #000;
		    }

		    a{
		    	color: #000;
		    }

		&:before{
				content: ' ';	
			    background: url(sprites.png) 0 -20px;
			    position: absolute;
			    width: 64px;
			    height: 50px;
		}
	}

	.buttons_share{
		a{
			box-shadow: none;

			&:hover{
				box-shadow: none;
			}
		}

		.facebook-classic{
			display: inline-block;
			margin-right: 10px;
		}

		.googleplus-classic{
			display: inline-block;
			margin-right: 10px;
		}

		.odkl-classic{
			display: inline-block;
			margin-right: 10px;
		}

		.twitter-classic{
			display: inline-block;
			margin-right: 10px;
		}

		.vk-classic{
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.post-image.desc{
	display: none;
}

.comments-block{
	padding: 10px 30px;
    word-break: break-word;
    margin-bottom: 100px;
    padding-left: 30px;
    margin-left: 25%;

    p{
    	font-size: 20px;
	    color: #000;
	    margin-bottom: 10px;
    }

    .date{
    	font-size: 11px;
    }
}

.sticky{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
}

.infinite-table{
	position: relative;

	.about-fm{
	    left: 8%;
	    width: 18%;
	    min-width: 196px;
	    max-width: 250px;
	    padding-bottom: 20px;
	    z-index: 1000;
	}

	.about-fm.affix-top{
	    position: absolute;
	    top: 42px;
	}


	.about-fm-img{
		position: relative;	
		img{
			width: 100%;
			display: block;
		}
	}

	.about-fm-text{
	    padding-top: 40px;
	    font-size: 16px;
	    padding: 18px 30px 30px 30px;
	    z-index: 1;
	    background-color: #fff;
	    box-shadow: 0 10px 33px 8px rgba(0,0,0,0.05);

	    em{
    	    font-family: "PTSans-Italic";
	    	display: inline;
		    font-size: 32px;
		    line-height: 1.24;
		    // border-bottom: 16px solid #eee;
		    white-space: normal;
		    box-shadow: inset 0 -16px 0 0 #eee;
	    }

	    p{
	    	padding: 1em 0;
	    }

	    a{
	    	margin-left: -12px;
	    }
	}

	.about-fm.affix{
		position: fixed;
		top: 90px;
	}
}

.about-text-6{
    max-width: 632px;
    margin: 100px auto;
    line-height: 32px;

    p{
    	line-height: 32px;
    }
}

.text-carousel{
	position: relative;
	max-width: 570px;
    line-height: 32px;
    text-align: left;

    p{
	    line-height: 32px;
    }
}

.q{
	width: 64px;
    z-index: 101;
    height: 50px;
    left: 310px;
    top: -10px;
}

.main{
    position: relative;
    margin: 0 30px;
}

.s-main{
	max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
}

.s-item #main-quote {
    width: 590px !important;
    left: 270px;
    top: -20px;

    p{
	    margin: 0;
	    color: #000;
	    font-size: 20px;
	    line-height: 1.96;
    }
}

.top-text {
    padding: 300px 10px 100px 0px;
}

.img-no-hair-2{
	margin-left: 30px;
    margin-right: -130px;
}

.about-text-4{
	padding-left: 30px;
	padding-bottom: 50px;
}

.section-8{
	padding-top: 440px;
	margin-bottom: 100px;

	.image-8{
		margin-bottom: 0;
	}

	.image-8-text{
	    padding: 50px 60px;
	}
}

.carousel-section{
	position: relative;
	min-height: 600px;
	.text-carousel{
		padding: 100px 0 20px 30px;
		margin-left: 40%;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.slides{
		top: 20px;
	    left: 40%;
	    margin-left: -310px;
	}
}




@media (max-width: 800px){

	.about-fm{
		display: none;
	}

	.mobile{
		display: block;
	}

	.desc{
		display: none;
	}

	.article-text{
		padding: 0 30px;
		margin-left: 0;
		text-align: left;
		
		.h1.title{
			font-size: 36px;
			text-align: left;
		}

		.post-image{
		    padding: 40px 10px;
		}

		h2{
			    font-size: 28px;
			    line-height: 1.25;
			    padding: 1em 0;
			    color: #000;
			    opacity: 1;
		}

		h3{
				font-size: 24px;
			    line-height: 1.25;
			    padding: 1em 0;
			    color: #000;
			    opacity: 1;
		}

		h4{
			font-size: 20px;
			font-weight: bold;
		    padding: 1em 0;
		    color: #000;
		    font-weight: 600;
		    opacity: 1;
		}

		ul,ol {
			margin: 1em 0 1.5em 1em;

			li{
			    font-size: 20px;
			    line-height: 1.76;
			    color: #000;
			    letter-spacing: 0.3px;
			    margin-bottom: 1.5em;
			    font-weight: 100;
			}
		}

		blockquote{
			font-size: 24px;
			margin-bottom: 40px;

			p{
				font-size: 24px;
			}
		}
	}


	.comments-block {
	    padding: 10px 30px;
	    word-break: break-word;
	    margin-bottom: 100px;
	    padding-left: 30px;
	    margin-left: 0;
	    text-align: left;
	    padding-top: 50px;

	    .avatar{
	    	direction: none;
	    }

	    h4{
	    	font-size: 20px;
	    	font-weight: bold;
	    	margin-bottom: 12px;
	    }
	}

	.q{
	    width: 64px;
	    z-index: 101;
	    height: 50px;
	    left: 242px;
	    top: 20px;
	}

	.s-item {
		.main{
			margin-left: 0 15px;
		}

		.mobile-about{
			width: auto;
			margin: 0 -30px;
		}
		#main-quote{
		    width: 100% !important;
		    right: 0;
		    margin-top: -64px;

		    p{
		    	font-size: 18px;
		    }
	    }

	    .top-text{
	    	text-align: left;
	    	color: #000;
	    	font-size: 16px;
	    	padding: 20px 30px 20px 30px;
		    margin: -311px -30px 0;
	    }

	    .slide-1-text{
	    	padding: 0 0px;
		    text-align: left;
	    	color: #000;
	    	font-size: 16px;
	    }
	}

	.img-no-hair-1{
	    width: 100%;
	    margin: 0;
	    height: auto;
	    float: none;
	    clear: both;
	}
	.img-no-hair-2{

	}

	.about-text-4{

	}

	.about-5-image{
		margin-bottom: 170px;
	}

	.section-8{
		padding-top: 1500px;
	}

	.about-text-6{
		    max-width: 632px;
		    margin-top: 50px auto;
		    line-height: 32px;
		    padding: 0 30px;
		    text-align: left;
		    color: #000;
		    font-size: 16px;
	}


}
