$mainColor: #000;

.s-slide-main .socket, .s-slide-main .cell{
	width: auto;
}

.menu li.is-current a{
	letter-spacing: 0.15em;
	color: #000;

	&:hover{
		color: #d3215d;
	}
}

.header-title img{
	height: 36px;
}

.b-slide-text .text {
    color: $mainColor;
    margin-bottom: 28px;
    max-width: 440px;
    font-size: 18px;
    max-width: 390px;
    margin-bottom: 28px;
    line-height: 1.84;
    margin-top: 1.6em;
}

.s-intro{
	background-position: center center;
    background-size: cover;
    min-height: 66vw;
    overflow: hidden;
    position: relative;
    padding: 1.125rem;
    background-image: asset-url('hi.jpg');
    position: relative;

    .socket{
    	height: 100%;
    }

    .b-quote.right{
    	right: 56px;
    }

    .q{
	    top: -93px;
	    right: 80px;
	    z-index: 0;
	    background-image: none;
	    left: auto;
	    color: #000;
	    font-size: 245px;
	    font-style: italic;
	    line-height: 1;
	    font-weight: 400;
    }

    .b-quote{
    	bottom: 84px;
	    top: auto;
	    left: auto;
	    width: 40%;
	    right: 56px;
	    padding: 68px 67px 70px 60px;

	    p{
	    	color: $mainColor;
	    	font-size: 18px;
    	    line-height: 1.84;
	    	margin-bottom: 2em;
	    }

	    &:before{
	    	content: none;
	    }
    }

    .title-d{
    	margin-bottom: 29px;

    	div>span span{
    		border-bottom: 16px solid #fe777d;
    	}
    }

    .btn{
    	border-color: #000;
    }

	.circ {
	    right: 125px;
	    bottom: 40px;
	    top: auto;
	}
}

.s-book{
    height: 550px;
    margin-bottom: 110px;
    background-color: #ffeded;
    z-index: 1;
    padding-top: 50px;

    .socket{
    	width: 1124px;
    }

    .text{
    	font-size: 18px;
	    line-height: 1.84;
	    width: 450px;
    }

    .circ{
    	top: 64px;
	    right: -7px;
	    background-color: #fe777d;
    }

    .image{
    	position: absolute;
	    top: 23px;
	    border: 0;
	    left: 600px;
	    z-index: 1;
	    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    }
}


.btn {
  letter-spacing: 0.15em;
  border-radius: 0;
}
.btn.btn-2 {
  letter-spacing: 0.15em;
  border-radius: 0;
}
.btn.btn-3 {
  letter-spacing: 0.15em;
}
.btn.btn-4 {
  color: #fff;
  background-color: #d3215d;
  border-color: #d3215d;
  letter-spacing: 0.15em;
}
.btn.btn-4:hover {
  color: #212121;
  border-color: #e0dfe3;
  background-color: #fff;
}
.btn.btn-g {
  color: #212121;
}
.btn:hover {
  border-color: #d3215d;
}