$mainColor: #000;

.s-slide-main .socket, .s-slide-main .cell{
	width: auto;
}

.menu li a{
	letter-spacing: 0.12em;
	color: #000;
	font-size: 15px;

	&:hover{
		color: #d3215d;
	}
}

.header-title{
	margin: 0;
	text-align: left;
}

.s-header-top {
	.socket{
		padding: 0 80px;
		width: auto;
	}

	.b-search{
		right: 80px;
	}
}

.s-header-btm{
    position: absolute;
    
    margin: auto;
    height: 60px;
    top: 0px;
    left: 200px;
    right: 200px;
}

.header-title img{
	height: 36px;
    position: relative;
    top: 3px;
}


.b-slide-text .text {
    color: $mainColor;
    margin-bottom: 28px;
    max-width: 440px;
    font-size: 18px;
    max-width: 390px;
    margin-bottom: 28px;
    line-height: 1.84;
    margin-top: 1.6em;
}

.s-intro{
	background-position: center center;
    background-size: cover;
    min-height: 66vw;
    overflow: hidden;
    position: relative;
    padding: 1.125rem;
    background-image: asset-url('hi.jpg');
    position: relative;

    .socket{
    	height: 100%;
    }

    .b-quote.right{
    	right: 56px;
    }

    .q{
	    top: -93px;
	    right: 80px;
	    z-index: 0;
	    background-image: none;
	    left: auto;
	    color: #000;
	    font-size: 245px;
	    font-style: italic;
	    line-height: 1;
	    font-weight: 400;
    }

    .b-quote{
    	bottom: 84px;
	    top: auto;
	    left: auto;
	    width: 40%;
	    right: 56px;
	    padding: 68px 67px 70px 60px;

	    p{
	    	color: $mainColor;
	    	font-size: 18px;
    	    line-height: 1.84;
	    	margin-bottom: 2em;
	    }

	    a{
	    	color: #d3215d;
	    }

	    &:before{
	    	content: none;
	    }
    }

    .title-d{
    	margin-bottom: 29px;

    	div>span span{
    		border-bottom: 16px solid #fe777d;
    	}
    }

    .btn{
    	border-color: #000;
    	font-size: 14px;
    }

	.circ {
	    right: 125px;
	    bottom: 40px;
	    top: auto;
	}
}



.s-book{
    height: 650px;
    margin-bottom: 110px;
    background-color: #ffeded;
    z-index: 1;
    padding-top: 50px;

    .book-form{
    	left: 60px;
    }

    .socket{
    	width: 1124px;
    }

    .text{
    	font-size: 18px;
	    line-height: 1.84;
	    width: 450px;
    }

    .circ{
    	top: 64px;
	    right: -7px;
	    background-color: #fe777d;
    }

    .btn{
    	font-size: 14px;
    }

    .image{
    	position: absolute;
	    top: 23px;
	    border: 0;
	    left: 600px;
	    z-index: 1;
	    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    }
}

.b-books{
	border-top: 1px solid #000;
	position: relative;

	.b-book{
		position: relative;
		background-color: #f5f5f5;
		margin: 20px 10px;
		padding: 30px 40px;

		.price{
			font-size: 42px;
		    position: absolute;
		    white-space: nowrap;
		    /* font-weight: bold; */
		    bottom: 32px;
		    right: 20px;
		    font-family: "PTSerif-Reg";
		    box-shadow: inset 0 -16px 0 0 rgba(255,255,255,0.9);

		}

		.btn{
			font-size: 24px;
		}

		h3{
			position: relative;
			margin-bottom: 42px;
		}

		&#book-wrapper-1{
		    background-color: #e1eaec;
		    width: 31%;

		    img{
		    	margin-top: 10px;
		    }
		}

		&#book-wrapper-2{
		    background-color: #fff2f2;
		    width: 62%;
		    padding-left: 340px;
		    margin-bottom: 0;

		    .cover{
		    	position: absolute;
		    	left: 40px;
		    	top: 40px;
		    }

		    p{
		    	max-height: 280px;
		    	overflow: hidden;
		    }
		}

		&#book-wrapper-3{
		    background-color: #fff;
		    border: 1px solid #eee;
		    width: 62%;

		    padding-right: 330px;

		    p{
		    	max-height: 390px;
		    	overflow: hidden;
		    }

		    .cover{
		    	position: absolute;
		    	right: 40px;
		    	top: 40px;
		    }
		}
	}


	.cover{
		position: relative;
		text-align: center;

		img{
			display: block;
			width: 260px;
		    border: 1px solid #eee;
		    box-shadow: 0 4px 32px rgba(0,0,0,0.14);

		    margin: 0 0 50px;
		}

	}
	h3{
	    line-height: 34px;
	    font-size: 42px;
	    line-height: 1.28;
	    text-align: left;
	    /* font-family: 'Pt Sans Narrow'; */
	    text-transform: uppercase;
	    letter-spacing: 0.05em;
	}
	
	p{
		padding: 0px;
	    margin-bottom: 3em;
	    // overflow: hidden;
	    font-size: 18px;
	    text-align: left;
	    line-height: 1.8;
	    // height: 147px;
	    color: #000;	
	}
}

.text, p{
	color: #000;
}

.s-publish{
	position: relative;
	padding: 80px 80px 0;


	.title-d div>span span{
		border-color: transparent;
	}

	.polygraphy{
		position: relative;
		color: $mainColor;
		font-size: 18px;
		text-align: left;
		line-height: 1.84;
		max-width: 600px;
		margin: 40px 0;
	}

	.title-h-center{
		text-align: left;
	}

	.btn{
	    border: 0;
	    font-size: 18px;
	    padding: 0;
	    margin: 0;
	    width: auto;
	    font-size: 14px;
	    display: inline-block;
	    font-weight: normal;

	    &:after{
    	    content: 'â¯';
		    display: inline-block;
		    font-variant: normal;
		    line-height: 1em;
		    margin-left: .2em;
		    margin-right: .2em;
		    speak: none;
		    text-align: center;
		    text-decoration: inherit;
		    text-transform: none;
		    width: 1em;
		    position: relative;
		    transition: margin-left .25s;

	    }

	    &:hover:after{
	    	margin-left: .5em;
	    	color: #000;
	    }
	}

	.btn.btn-2.btn-center{
		font-size: 18px;
		margin-bottom: 150px;
	}

	.b-carousel{
	    background-color: #fff;
	    width: auto;
	    border-top: 1px solid #000;

	    .jcarousel{
	    	width: auto;
	    	height: 820px;

	    	ul{
	    		li{
	    			.b-polygraphy{
	    				float: left;
					    margin-right: 22px;
					    width: auto;
					    position: relative;
					    background-color: #e2ebf3;
					    padding: 400px 50px 20px;
					    box-shadow: none;
					    margin-top: 10px;

	    				h3{
    					    display: table-cell;
						    width: auto;
						    height: 110px;
						    vertical-align: middle;
						    padding: 0 20px;
						    line-height: 34px;
						    font-size: 42px;
						    line-height: 1.28;
						    padding-top: 40px;
						    text-align: left;
						    /* font-family: 'Pt Sans Narrow'; */
						    text-transform: uppercase;
						    letter-spacing: 0.1em;
	    				}

	    				img{
	    					width: 260px;
						    border: 1px solid #eee;
						    box-shadow: 0 4px 32px rgba(0,0,0,0.14);
	    				}

	    				p{
    					    padding: 0px;
						    margin-bottom: 10px;
						    overflow: hidden;
						    font-size: 18px;
						    text-align: left;
						    line-height: 1.96;
						    height: 147px;
						    color: #000;
	    				}

	    			}
	    		}
	    	}
	    }
	}

	.block-img{
		position: absolute;
	    right: 200px;
	    top: -50px;
	    width: 420px;

	    img{
	    	width: 100%;
	    }

	}
}


.s-feedback{
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #fff;

	.column-t{
		position: absolute;
	    top: 155px;
	    left: 600px;
	    width: 430px;

		.text{
			text-transform: uppercase;
		    font-size: 12px;
		    letter-spacing: 0.2em;
		    margin-left: 11px;
		}
	}
	
	#all-feedbacks{
        position: absolute;
	    background-color: #d7356b;
	    color: #fff;
	    border: 2px solid #fff;
	    font-size: 18px;
	    width: auto;
	    height: auto;
	    padding: 4px 20px;
	    left: 58px;
	    top: 10px;
	}

	.title-d{
    	margin-bottom: 29px;

    	div>span span{
    		border-bottom: 16px solid #fe777d;
    	}
    }

    .b-person{
    	padding-left: 96px;
    	padding-top: 7px;

    	.name{
		    font-size: 36px;
		    margin-bottom: 11px;
    	}
    }

    .avatar{
    	width: 80px;
    	height: 80px;
    }

	.q{
		    top: -12px;
		    right: 40px;
		    z-index: 0;
		    background-image: none;
		    left: auto;
		    color: #d3215d;
		    font-size: 205px;
		    font-style: italic;
		    line-height: 1;
		    font-weight: 400;
	}

	.quote{
	    position: absolute;
	    top: 143px;
	    left: 450px;
	    z-index: 1000;
	    width: 530px;
	    padding: 40px 80px 40px 100px;
	}


	.quote-text{
		position: relative;
		border-top: 0;

		&:before{
			content: ' ';
			position: absolute;
			left: 0;
			right: 40px;
			top: 0;
			height: 1px;
			background-color: #000;
		}

		p{
		    color: #000;
		    font-size: 18px;
		    line-height: 1.96;

		}

		.name{
			font-family: "PTSans-Regular";
		    font-size: 28px;
		}

		.text{
			color: #000;
		}
	}
}

.main-quote{
	position: relative;
	margin-bottom: 1vw;
	background-color: #fff3f2;

	.photo{
	    height: 49.3vw;
	    margin-bottom: 0px;
	    

	    img{
	    	height: 100%;
	    }
	}

	.quote-side{
		position: absolute;
		right: 0%;
		top: 0;
		bottom: 0;
	    height: 49.3vw;
	    padding: 4vw 5vw 0;
	    width: 63%;
	    background: #fff3f2;
	    padding: 8vw 10vw 0;
	    z-index: 999;
	}

	.q-weapper{
		position: relative;
	}

	.avatar{
		font-size: 12px;
	}

	h2{
		font-size: 61px;
	    line-height: 1.45;
	    text-indent: -0.4em;
	}

	.text{
		font-size: 24px;
	    line-height: 2;
	    margin-top: 4em;
	    padding-bottom: 5em;
	    border-bottom: 1px solid #000;
	    margin-bottom: 2em;
	}

	.b-person{
		padding-left: 62px;

		.avatar{
			width: 50px;
			height: 50px;
		}
		.cell{
			height: 50px;
		}
		.name{
			text-transform: uppercase;
			letter-spacing: 0.125em;
			font-size: 16px;

		    span{
		    	font-family: "PTSans-Regular";
		    }
		}
	}
}

#footer{
	background-color: #000;
	color: #fff;

	.b-social{

	}
}

.s-articles{
	padding-bottom: 0;
	.blog-socket{
		width: auto;	
	    padding: 45px 0px 0;
	}
	.b-articles{
		.article{
			width: 25%;
			margin: 0;
			box-shadow: none;
			overflow: hidden;
		}	
	}

	.topic-1{
		background-image: asset-url('order.jpg');
		background-position: center top;
	    background-size: 100%;
	}

	.topic-2{
		background-image: asset-url('love.jpg');
		background-position: center top;
	    background-size: 140%;
	}

	.topic-3{
		background-image: asset-url('health.jpg');
		background-position: center center;
		background-size: 100%;
	}

	.topi-4{
		background-image: asset-url('pasion.jpg');
		background-position: center center;
		background-size: 100%;
	}
}


.btn {
  letter-spacing: 0.15em;
  border-radius: 0;
}
.btn.btn-2 {
  letter-spacing: 0.15em;
  border-radius: 0;
}
.btn.btn-3 {
  letter-spacing: 0.15em;
}
.btn.btn-4 {
  color: #fff;
  background-color: #d3215d;
  border-color: #d3215d;
  letter-spacing: 0.15em;
}
.btn.btn-4:hover {
  color: #212121;
  border-color: #e0dfe3;
  background-color: #fff;
}
.btn.btn-g {
  color: #212121;
}
.btn:hover {
  border-color: #d3215d;
}