$mainColor: #000;

.s-slide-main .socket, .s-slide-main .cell{
	width: auto;
}

.menu li a{
	letter-spacing: 0.12em;
	color: #000;

	&:hover{
		color: #d3215d;
	}
}

.header-title img{
	height: 36px;
}

.b-slide-text .text {
    color: $mainColor;
    margin-bottom: 28px;
    max-width: 440px;
    font-size: 18px;
    max-width: 390px;
    margin-bottom: 28px;
    line-height: 1.84;
    margin-top: 1.6em;
}

.s-intro{
	background-position: center center;
    background-size: cover;
    min-height: 66vw;
    overflow: hidden;
    position: relative;
    padding: 1.125rem;
    background-image: asset-url('hi.jpg');
    position: relative;

    .socket{
    	height: 100%;
    }

    .b-quote.right{
    	right: 56px;
    }

    .q{
	    top: -93px;
	    right: 80px;
	    z-index: 0;
	    background-image: none;
	    left: auto;
	    color: #000;
	    font-size: 245px;
	    font-style: italic;
	    line-height: 1;
	    font-weight: 400;
    }

    .b-quote{
    	bottom: 84px;
	    top: auto;
	    left: auto;
	    width: 40%;
	    right: 56px;
	    padding: 68px 67px 70px 60px;

	    p{
	    	color: $mainColor;
	    	font-size: 18px;
    	    line-height: 1.84;
	    	margin-bottom: 2em;
	    }

	    &:before{
	    	content: none;
	    }
    }

    .title-d{
    	margin-bottom: 29px;

    	div>span span{
    		border-bottom: 16px solid #fe777d;
    	}
    }

    .btn{
    	border-color: #000;
    	font-size: 14px;
    }

	.circ {
	    right: 125px;
	    bottom: 40px;
	    top: auto;
	}
}

.s-book{
    height: 650px;
    margin-bottom: 110px;
    background-color: #ffeded;
    z-index: 1;
    padding-top: 50px;

    .socket{
    	width: 1124px;
    }

    .text{
    	font-size: 18px;
	    line-height: 1.84;
	    width: 450px;
    }

    .circ{
    	top: 64px;
	    right: -7px;
	    background-color: #fe777d;
    }

    .btn{
    	font-size: 14px;
    }

    .image{
    	position: absolute;
	    top: 23px;
	    border: 0;
	    left: 600px;
	    z-index: 1;
	    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    }
}

.b-books{
	border: 1px solid #000;
	background-color: #fff;
	position: relative;
}


.s-publish{
	position: relative;
	padding: 80px 80px 0;


	.title-d div>span span{
		border-color: transparent;
	}

	.polygraphy{
		position: relative;
		color: $mainColor;
		font-size: 18px;
		text-align: left;
		line-height: 1.84;
		max-width: 600px;
		margin: 40px 0;
	}

	.title-h-center{
		text-align: left;
	}

	.btn{
	    border: 0;
	    font-size: 18px;
	    padding: 0;
	    margin: 0;
	    width: auto;
	    font-size: 14px;
	    display: inline-block;
	    font-weight: normal;

	    &:after{
    	    content: '❯';
		    display: inline-block;
		    font-variant: normal;
		    line-height: 1em;
		    margin-left: .2em;
		    margin-right: .2em;
		    speak: none;
		    text-align: center;
		    text-decoration: inherit;
		    text-transform: none;
		    width: 1em;
		    position: relative;
		    transition: margin-left .25s;

	    }

	    &:hover:after{
	    	margin-left: .5em;
	    	color: #000;
	    }
	}

	.btn.btn-2.btn-center{
		font-size: 18px;
		margin-bottom: 150px;
	}

	.b-carousel{
	    background-color: #fff;
	    width: auto;
	    border-top: 1px solid #000;

	    .jcarousel{
	    	width: auto;
	    	height: 820px;

	    	ul{
	    		li{
	    			.b-polygraphy{
	    				float: left;
					    margin-right: 22px;
					    width: auto;
					    position: relative;
					    background-color: #e2ebf3;
					    padding: 400px 50px 20px;
					    box-shadow: none;
					    margin-top: 10px;

	    				h3{
    					    display: table-cell;
						    width: auto;
						    height: 110px;
						    vertical-align: middle;
						    padding: 0 20px;
						    line-height: 34px;
						    font-size: 42px;
						    line-height: 1.28;
						    padding-top: 40px;
						    text-align: left;
						    /* font-family: 'Pt Sans Narrow'; */
						    text-transform: uppercase;
						    letter-spacing: 0.1em;
	    				}

	    				img{
	    					width: 260px;
						    border: 1px solid #eee;
						    box-shadow: 0 4px 32px rgba(0,0,0,0.14);
	    				}

	    				p{
    					    padding: 0px;
						    margin-bottom: 10px;
						    overflow: hidden;
						    font-size: 18px;
						    text-align: left;
						    line-height: 1.96;
						    height: 147px;
						    color: #000;
	    				}

	    			}
	    		}
	    	}
	    }
	}

	.block-img{
		position: absolute;
	    right: 200px;
	    top: -50px;
	    width: 420px;

	    img{
	    	width: 100%;
	    }

	}
}


.btn {
  letter-spacing: 0.15em;
  border-radius: 0;
}
.btn.btn-2 {
  letter-spacing: 0.15em;
  border-radius: 0;
}
.btn.btn-3 {
  letter-spacing: 0.15em;
}
.btn.btn-4 {
  color: #fff;
  background-color: #d3215d;
  border-color: #d3215d;
  letter-spacing: 0.15em;
}
.btn.btn-4:hover {
  color: #212121;
  border-color: #e0dfe3;
  background-color: #fff;
}
.btn.btn-g {
  color: #212121;
}
.btn:hover {
  border-color: #d3215d;
}